<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Frame 1.1: You Can (Not) Refresh</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/favico.ico">
</head>
<body>
  <div class="border_left"></div>
  <section class="content">

    <header class="header">
      <div class="logo_area">
        <div class="header_logo">
          HEADER/LOGO
        </div>
        <img src="static/triangle.png" class="top_logo" alt="A triangular white logo">
      </div>
      <nav class="header_links">
        <div class="slash"></div>
        <div class="slash"></div>
        <div class="buffer"></div>
        <a href="url">>HANGAR</a>
        <a href="url">>DEPLOY</a>
        <a href="url">>COMMS</a>
      </nav>
    </header>

    <section class="upper">
      <div class="upper_text_area">
        <h1>TITLE/MAIN</h1>
        <div class="undertitle">
          >Title of site
        </div>
        <div class="undertitle_2">
          >Additional text
        </div>
        <div class="undertitle_3">
          >Third line of text
        </div>
        <h3>TITLE/SECONDARY</h3>
        <div class="undertitle">
          >Additional infomation
        </div>
        <div class="undertitle_2">
          >Second line of infomation
        </div>
      </div>
    </section>

    <section class="main">

      <div class="main_upper">
          <div class="text_area">
            <h3 class="frame_title">FRAME/00</h3>
            <p>>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>

          <img src="static/Mech3.webp" class="image" alt="An image of a military mech">

        </div>  

      </div>    
      <div class="main_middle">

        <img src="static/Mech2.webp" class="image" alt="An image of an alien-looking robot">

        <div class="text_area">
          <h3>FRAME/01</h3>
          <p>>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>

        

      </div> 

      <div class="main_lower">

        <div class="text_area">
          <h3>FRAME/02</h3>
          <p>>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
      </div>

      <img src="static/Mech4.webp" class="image" alt="An image of a sleek military robot">

      </div> 

      
    </section>

    <footer class="footer">
      <div class="footer_left">
        <nav class="header_links">
          <a href="url">>HANGAR</a>
          <a href="url">>DEPLOY</a>
          <a href="url">>COMMS</a>
        </nav>
      
        <div class="version">
          VERSION: 0.3.11
        </div>
      </div>
      <img src="static/triangle.png" class="footer_img">

    </footer>
  </section>  
  <div class="border_right"></div>  

</body>
</html>